<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.basedateConnectionString"
            connectionString="Data Source=LAPTOP-3CDDHCO8\SQLEXPRESS;Initial Catalog=basedate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>